<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add donor or reciever</h1>

    <form action="" method="post">
        {% csrf_token%}
        <input type="text" name="useremail" placeholder="Enter your Email" id=""> <br>
        <select name="usertype" id="">
            <option value="DONOR">DONOR</option>
            <option value="RECIEVER">RECIEVER </option>
        </select>
        <input type="submit" value="Submit">
    </form>
</body>
</html>